body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #0f0f0f;
    color: #fff;
}

nav {
    background: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff9800;
}

.container {
    padding: 25px;
}

h1, h2 {
    color: #ff9800;
}

.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    background: #1c1c1c;
    border-radius: 10px;
    padding: 15px;
    width: 220px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

button {
    background: #ff9800;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: #ffa726;
}

.cart-item {
    background: #1c1c1c;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
}
